################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
/WebAPI/.vs/WebAPI/v16/Server/sqlite3/db.lock
